// 生成工具样式的样本,帮助测试和生成数据.
// =================================
// 变量,函数和扩展样式的定义.必须引用
// =================================
// 变量
@import "varAndFun/color"
@import "varAndFun/mediaquery"
@import "varAndFun/transition"
@import "varAndFun/cirangle"
@import "varAndFun/text"
// extend style item
@import "varAndFun/extendclass"
// 函数
@import "varAndFun/function"

// 工具样式
@import "groups/align"
@import "groups/display"
@import "groups/gridflex"
@import "groups/overflow"
@import "groups/text"
@import "groups/width"
@import "groups/mgpd"
@import "groups/colors"
@import "groups/cursor"
@import "groups/border"
@import "groups/inherit"