// 边框
for size in range(1,100,1)
    sizepx = size * 1px
    .cir-{size}
        border-radius:sizepx
    .cir-tl-{size}
        border-top-left-radius:sizepx
    .cir-tr-{size}
        border-top-right-radius:sizepx
    .cir-bl-{size}
        border-bottom-left-radius:sizepx
    .cir-br-{size}
        border-bottom-right-radius:sizepx