// 竖直居中对齐
.v-middle
    @extend $ext-valign-middle 
// 块级水平居中
.mg-lr-auto
    margin-left:auto
    margin-right:auto

// flex,grid布局时对齐和排布 用于容器
.j-start
    @extend $ext-justify-start
.j-center
    @extend $ext-justify-center
.j-end
    @extend $ext-justify-end
.j-between
    @extend $ext-justify-sb
.j-around
    @extend $ext-justify-sa
.j-evenly
    @extend $ext-justify-se
.a-start
    @extend $ext-align-start
.a-center
    @extend $ext-align-center
.a-end
    @extend $ext-align-end
// flex,grid布局时对齐 用于单个子元素
.j-s-start
    @extend $ext-justify-self-start
.j-s-center
    @extend $ext-justify-self-center
.j-s-end
    @extend $ext-justify-self-end
.a-s-start
    @extend $ext-align-self-start
.a-s-center
    @extend $ext-align-self-center
.a-s-end
    @extend $ext-align-self-end