// color
for colorName,v in $colors-dict
    for level,value in v
        // 文字彩色,带hover
        .txt-{colorName}-{level},.hover-txt-{colorName}-{level}:hover
            color:value
        // 背景彩色,带hover
        .bg-{colorName}-{level},.hover-bg-{colorName}-{level}:hover
            background-color:value
        // 边框色
        .bd-{colorName}-{level},.hover-bd-{colorName}-{level}:hover
            border-color:value
        .bd-t-{colorName}-{level},.hover-bd-t-{colorName}-{level}:hover
            border-top-color:value
        .bd-b-{colorName}-{level},.hover-bd-b-{colorName}-{level}:hover
            border-bottom-color:value
        .bd-l-{colorName}-{level},.hover-bd-l-{colorName}-{level}:hover
            border-left-color:value
        .bd-r-{colorName}-{level},.hover-bd-r-{colorName}-{level}:hover
            border-right-color:value
        .bd-lr-{colorName}-{level},.hover-bd-lr-{colorName}-{level}:hover
            border-right-color:value
            border-left-color:value
        .bd-tb-{colorName}-{level},.hover-bd-tb-{colorName}-{level}:hover
            border-top-color:value
            border-bottom-color:value
for colorName,v in $blackwhitegray-dict
    for level,value in v
        // 文字黑白灰,带hover
        .txt-{colorName}-{level},.hover-txt-{colorName}-{level}:hover
            color:value
        // 背景黑白灰,带hover
        .bg-{colorName}-{level},.hover-bg-{colorName}-{level}:hover
            background-color:value
        // 边框色
        .bd-{colorName}-{level},.hover-bd-{colorName}-{level}:hover
            border-color:value
        .bd-t-{colorName}-{level},.hover-bd-t-{colorName}-{level}:hover
            border-top-color:value
        .bd-b-{colorName}-{level},.hover-bd-b-{colorName}-{level}:hover
            border-bottom-color:value
        .bd-l-{colorName}-{level},.hover-bd-l-{colorName}-{level}:hover
            border-left-color:value
        .bd-r-{colorName}-{level},.hover-bd-r-{colorName}-{level}:hover
            border-right-color:value
        .bd-lr-{colorName}-{level},.hover-bd-lr-{colorName}-{level}:hover
            border-right-color:value
            border-left-color:value
        .bd-tb-{colorName}-{level},.hover-bd-tb-{colorName}-{level}:hover
            border-top-color:value
            border-bottom-color:value
